.input--search {
    background-color: var(--bs-body-bg);
}

.btn--search {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn--search:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.leads--table {
    --bs-body-bg: #ffffff;
    --bs-table-hover-bg: var(--terciary-color)
}

.leads--table th {
    color: grey;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .title {
        margin-right: 2rem;
    }
}
