.login--form {
    margin-block: 5rem;
    height: fit-content;
    width: 325px;
}

.input--login.invalid {
    border-bottom: 1px solid rgb(220, 53, 69);
}

.input--login.invalid:focus {
    border-bottom: 1px solid #ff0000;
}

.input--login.invalid::placeholder {
    color: rgb(220, 53, 69);
}
