@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --hue-color: 251;
    --primary-color: hsl(var(--hue-color), 46%, 56%);
    --secondary-color: hsl(var(--hue-color), 42.44%, 34.83%);
    --terciary-color: hsla(251, 46%, 56%, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    row-gap: 1rem;
}

.title {
    margin-right: 3rem;
}

.title h1 {
    width: 100px;
}

.input {
    padding-left: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: var(--bs-border-radius);
    -webkit-transition : all .2s ease-out;
    -moz-transition : all .2s ease-out;
    -o-transition : all .2s ease-out;
}

.input::placeholder {
    color: #a9a9a9;
    -webkit-transition : all .2s ease-out;
    -moz-transition : all .2s ease-out;
    -o-transition : all .2s ease-out;
}

.input:hover {
    box-shadow: 0 3px 5px 0 var(--terciary-color);
}

.input:focus {
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 3px 5px 0 var(--terciary-color);
}

.input:focus::placeholder {
    color: #808080;
}

.section {
    margin-bottom: 1rem;
    border-top: 5px solid var(--primary-color);
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    background-color: #ffffff;
}

.btn-primary {
    background-color: var(--primary-color);
    transition: background-color .3s;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.icon {
    color: var(--primary-color);
    transition: color .3s;
}

.icon:hover {
    color: var(--secondary-color);
}

.btn--icon {
    font-size: 1.5rem;
    padding: 0 10px;
}

.form-control[readonly] {
    background-color: #eaeaea;
    color: #2125299c;
}

/* --------------- Bootstrap Override --------------- */
:root {
    --bs-body-bg: #fafafa;
}

.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}

.pagination {;
    --bs-pagination-color: var(--primary-color);
    --bs-pagination-hover-color: var(--secondary-color);
    --bs-pagination-active-bg: var(--primary-color);
    --bs-pagination-active-border-color: var(--bs-pagination-active-bg);
}

.form-control.is-invalid:focus {
    box-shadow: 0 3px 5px 0 rgba(var(--bs-danger-rgb),.25)
}
